@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", "Segoe UI";
  min-height: 100vh;
  /* background-image: url("test_bg.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; */
}

.blue_accent {
  color: #2453ff;
}

.light_gray_bg {
  background-color: #f6f6f6;
}

#workfilter:hover {
  background-color: #f3f3f3;
}

.app_gray {
  color: #8d8d8d;
}

.hander_accent {
  color: #00b6b0;
}

.hander_gradient {
  font-weight: bold;
  font-size: 32px;
  background: linear-gradient(to left, black, #00b6b0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.link_gray {
  color: #bbbbbb;
}

.dark_gray_text {
  color: #888888;
}

.footer_gray_color {
  color: #cfcfcf;
}

.link_underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* .gradient-text:hover sup {
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0, 0, 0, 0);
} */

.gradient-text sup {
  color: #bbbbbb;
}

#link_list {
  list-style-position: inside;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  color: #bbbbbb;
}

.gradient-text,
.gradient-text sup {
  background: linear-gradient(
    to right,
    rgba(219, 219, 219, 0.2),
    rgba(37, 141, 216, 0.7),
    rgba(161, 6, 225, 0.5),
    rgba(250, 103, 191, 0.5)
  );
  background-size: 400% 400%;
  animation: rainbow 5s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: color 0.5s ease-in-out;
}

.gradient-text:hover,
.gradient-text:hover sup {
  background-size: 200% 200%;
  color: rgba(0, 0, 0, 0);
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.app_blk_accent {
  color: #121929;
}

.work_card {
  cursor: pointer;
}

.image-shadow .card_cover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.image-shadow:hover .card_cover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
