@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", "Segoe UI";
  min-height: 100vh;
  /* background-image: url("test_bg.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; */
}

.blue_accent {
  color: #2453ff;
}

.light_gray_bg {
  background-color: #f6f6f6;
}

#workfilter:hover {
  background-color: #f3f3f3;
}

.app_gray {
  color: #8d8d8d;
}

.app_gray_bg {
  color: #8d8d8d;
}

.hander_accent {
  color: #00b6b0;
}

.hander_gradient {
  font-weight: bold;
  font-size: 32px;
  background: linear-gradient(to left, black, #00b6b0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.link_gray {
  color: #bbbbbb;
}

.dark_gray_text {
  color: #888888;
}

.footer_gray_color {
  color: #cfcfcf;
}

.link_underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* .gradient-text:hover sup {
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0, 0, 0, 0);
} */

.gradient-text sup {
  color: #bbbbbb;
}

#link_list {
  list-style-position: inside;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  color: #bbbbbb;
}

.gradient-text,
.gradient-text sup {
  background: linear-gradient(
    to right,
    rgba(219, 219, 219, 0.2),
    rgba(37, 141, 216, 0.7),
    rgba(161, 6, 225, 0.5),
    rgba(250, 103, 191, 0.5)
  );
  background-size: 400% 400%;
  animation: rainbow 5s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: color 0.5s ease-in-out;
}

.gradient-text:hover,
.gradient-text:hover sup {
  background-size: 200% 200%;
  color: rgba(0, 0, 0, 0);
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.app_blk_accent {
  color: #121929;
}

.work_card {
  cursor: pointer;
}

.work_tag {
  background-color: #e1e1e1;
  color: #888888;
  margin-right: 0.75rem;
  padding: 0.4rem 0.75rem;
  border-radius: 1.5rem;
  width: fit-content;
  font-size: 0.8rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.work_tag_portfolio {
  background-color: #e1e1e1;
  color: rgb(70, 70, 70);
  margin-right: 0.75rem;
  padding: 0.4rem 0.75rem;
  border-radius: 1.5rem;
  width: fit-content;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}

.work_card:hover .cover_overlay {
  opacity: 1;
}

.cover_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.learn_more_btn {
  background: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.learn_more_btn:hover {
  background: #000000;
  color: #ffffff;
}

.work_tag_engn {
  background-color: #d3e4ee;
}

.work_tag_design {
  background-color: #dbecdb;
}

.work_tag_internship {
  background-color: #ffe2dd;
}
.work_tag_startup {
  background-color: #f4f0f8;
}
.work_tag_research {
  background-color: #ede0db;
}
.work_tag_project {
  background-color: #ede0db;
}

.image-shadow .card_cover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.image-shadow:hover .card_cover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.work_card_time_tag {
  background-color: rgba(0, 0, 0, 0.4);
  height: fit-content;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 14px;
}

/* setting up for the portfolio component */

.portfolio_header {
  max-width: 1700px;
  margin: auto;
}

.portfolio_back_btn {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}

.portfolio_intro,
.role_section {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}

.portfolio_section {
  margin-bottom: 40px;
}

.section_header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.section_subtitle::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin-left: 20px;
}
